version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - DB_SERVER=db
      - APP_DATABASE_URL=mssql+aioodbc://${DB_USER:-sa}:${DB_PASSWORD}@db/dba_application_db?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes&connection timeout=30
    depends_on:
      - db
    volumes:
      - .:/app
    restart: always

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${DB_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    restart: always

  frontend:
    build: ./frontend
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
      - frontend
    restart: always

volumes:
  sql_data:
